<header class="header">
    <ul class="header-nav">
        <img class="header-logo" src="../../../assets/logo.png" alt="LOGO">
        <li class="header-nav-item nav-home" id="nav-home" onclick="window.open('/', '_self')">Home</li>
        <li class="header-nav-item nav-dashboard" id="nav-dashboard" onclick="window.open('/dashboard', '_self')">Dashboard</li>
        <li class="header-nav-item nav-premium" id="nav-premium" onclick="window.open('/premium', '_self')">Premium</li>
    </ul>
    <div class="header-user" id="header-user"></div>
</header>